node_modules
dist
coverage
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.ipynb_checkpoints
*.log
*.tmp
*.tmp.*
*.swp
*.bak
*.cache
*.project
*.pydevproject
*.DS_Store
*.db
*.sqlite3
*.sqlite
*.sql
*.cql
*.sqlite3-journal
*.idea
*.vscode
*.venv
*venv
*.rdb
